.contact-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  transform: translateY(-70px);
}

.contact-page .card {
  margin: 10px;
  width: 25rem;
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.1);
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 1.2rem;
}

