#title {
  font-size: 30px;
  text-align: center;
  color: rgb(64, 83, 194);
  border: 4px solid rgb(136, 137, 232);
  border-radius: 20px;
  padding: 4px;
  margin: 10px;
  margin-inline: 30%;
}


.fa-cloud {
  font-size: 70px;
  color: rgb(64, 88, 113);
}

.fa-sun {
  font-size: 70px;
  color: rgb(255, 213, 5);
}


#blue-background {
  background-color: #AEE2FF;
}

.home-cards {
  border: grey 1px solid;
  padding: 10px;
  width: 15rem;
  height: 8rem;
  border-radius: 20px;
}

.display-cards-flex {
  display: flex;
  justify-content: center;
}

.display-cards-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
}

.display-icon-flex {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

#icon {
  width: 5em;
  margin-left: 15px;
}

.width-border {
  width: 115px;
}

#flex-right {
  padding-left: 1em;
  border-left: 1px grey solid;

  p {
    margin: 0;
  }

  #wind {
    display: flex;
    font-size: 10px;
    align-items: center;
  }

  #wind-value {
    margin-left: 5px
  }

  .uv {
    display: flex;
    font-size: 10px;
    align-items: center;
  }

  #uv-value {
    margin-left: 5px;
  }

  #humidity {
    display: flex;
    font-size: 10px;
    align-items: center;
  }

  #humidity-value {
    margin-left: 5px;
  }
}

.display-feelslike-flex {
  display: flex;
  flex-direction: column;

  #feelslike {
    font-size: 10px;
  }

  #feelslike-temp {
    font-size: 15px;
  }
}

#flex-values {
  display: flex;
  justify-content: space-between;
  width: 80px;

  p {
    font-size: 10px;
  }
}

#temp-ress {
  display: flex;
  align-items: center;
  justify-content: space-between;

  #temp {
    font-size: 30px;
  }
}
