<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h5 class="contact"><%= link_to "Contact", "/contact" %></h5>
      </div>
      <div class="col-md-6">
        <h5 class="about"><%= link_to "About", "/about" %></h5>
      </div>
    </div>
  </div>
</footer>
