<div class="about-page">
  <h1 class="h1-about">À propos de nous 💬 </h1>

  <div class="about-section">
    <p class="text-about">
      Nous avons complété le bootcamp Le Wagon, un programme intensif dédié à l'apprentissage du développement web. Ce site a été codé en utilisant le framework Ruby on Rails, témoignant de nos compétences et de notre passion pour le développement web.
    </p>
  </div>
</div>

  <div class="btn-back-about">
    <%= link_to "Retour à l'accueil", root_path, class: "btn btn-primary" %>
  </div>

<style>
  body {
  background: rgb(0,212,255);
  background: linear-gradient(90deg, rgba(0,212,255,1) 15%, rgba(78,201,192,1) 64%, rgba(109,103,212,1) 100%);
  }
</style>
