
<h1>À propos de nous</h1>

<p>
  Nous avons complété le bootcamp Le Wagon, un programme intensif dédié à l'apprentissage du développement web. Ce site a été codé en utilisant le framework Ruby on Rails, témoignant de nos compétences et de notre passion pour le développement web.
</p>
