<h1>Page Contact</h1>

<div class="contact-info">


  <div class="person-description">
    <h2>Rémy Prince</h2>
    <p>
      GitHub : <%= link_to "Profil GitHub de Rémy", "https://github.com/remy_prince" %> <br>
      Description : Passionné par le développement et toujours prêt à relever de nouveaux défis. <br>
      Âge : 26 ans <br>
      Localisation : Paris, France
    </p>
  </div>


  <div class="person-description">
    <h2>Eno Leroy</h2>
    <p>
      GitHub : <%= link_to "Profil GitHub d'Eno", "https://github.com/eno_leroy" %> <br>
      Description : Développeur expérimenté avec un amour pour l'innovation et la créativité. <br>
      Âge : 27 ans <br>
      Localisation : Paris, France
    </p>
  </div>

</div>
