<body id="blue-background">
  <h1 id="title">WeatherInfos</h1>
    <div class="row" data-controller="weather-test" data-weather-test-weather-key-value="<%= @weather_key %>">
    <div data-weather-test-target="cities"></div>
  </div>


  <%= render "shared/footer" %>
</body>
